<div>  
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="/assets/images/image1.jpg" alt="Delhi Metro">  
                <div class="carousel-caption">  
                    <h3 class="text-danger">Delhi Metro</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="/assets/images/image2.jpg" alt="Bangalore Metro">  
                <div class="carousel-caption">  
                    <h3 class="text-danger">Bangalore Metro</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="/assets/images/image3.jpg" alt="Channai Metro">  
                <div class="carousel-caption">  
                    <h3 class="text-danger">Channai Metro</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="/assets/images/image4.jpg" alt="Jaipur Metro">  
                <div class="carousel-caption">  
                    <h3 class="text-danger">Jaipur Metro</h3>  
                </div>  
            </ng-template>  

        </ngb-carousel>
        <div class="main-text hidden-xs">
            <div class="col-md-12 text-center">
                <h1 style="font-weight: bold;">REAL HOMES PROPERTY</h1>
                <h3>
                    The best and easiest way to own a quality home at a cheap price.
                </h3>
                <div class="">
                    <a class="btn btn-clear btn-sm btn-min-block" routerLink="/login">Login</a><a class="btn btn-clear btn-sm btn-min-block"
                    routerLink="/signup">Registration</a> 
                    <a class="btn btn-clear btn-sm btn-min-block btn2" routerLink="/newpost">New Post</a></div>
            </div>
        </div> 
    </div>  
  
</div>  
