<div class="main" style="margin-top: 70px;padding:0;">
    <app-carousel></app-carousel>
    <div class="container-fluid">
        <div class="col-xs-6 col-sm-6 col-md-4 card float-left" style="margin-top: 2%;" *ngFor="let post of posts">
            <img src="{{post.house_image}}" class="img-responsive card-body" alt="Image"
                style="height:300px;width:100%;padding: 0;" >
            <div class="card-footer row bg-white">
                <p class="text-secondary col-4" style="font-size: 15px;"><strong>Location: </strong><span
                        class="font-italic">{{ post.location |titlecase }}</span></p>
                <p class="text-secondary col-4" style="font-size: 15px;"><strong>Bedrooms: </strong><span
                        class="font-italic">{{ post.bedrooms_no }}</span></p>
                <p class="text-secondary col-4" style="font-size: 15px;"><span
                        class="font-italic">{{ post.cost | currency:'KES':'symbol':'1.0'}}</span></p>
            </div>
        </div>

    </div>

</div>