/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

img {
    height: 90vh;
    width: 100%;
}

.main-text
{
    position: absolute;
    top: 100px;
    width: 96.66666666666666%;
    background-color: rgba(255,255,255,0.7);
    padding-bottom: 10%;
    padding-top: 5%;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: black;
    background-color: #FFF;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #DC3F45;
}

h2 {
    font-family: 'Monoton', cursive;
    font-size: 35px;
    color: white;
}

.cord:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  }

input{
    margin-right: 20%;
    margin-left: 20%;
}

.card>.btn, label{
    margin-left: 20%; 
}

@media only screen and (max-width: 639px) {
    .btn2 {
      margin-top:5%;
    }
  }